img {
width: 500px;
height: 500px
}
#stuff {
    align-items: center;
}
#things {
    align-items: center;
}
#bushes {
    align-items: center;
}
.navbar-nav {
    font-size: large;
}
body {
    background-color: rgb(15, 15, 15);
}